@model NavigationComponentViewModel

@using DigitalBattleMap.Common

<div class="container text-center">
    <div class="row">
        <div class="row">
            <select id="character" asp-for="Character" asp-items="Model.Characters"></select> 
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.NorthWest"><i class="fa fa-arrow-up direction @Direction.NorthWest.ToString()"></i></button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.North"><i class="fa fa-arrow-up direction @Direction.North.ToString()"></i></button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.NorthEast"><i class="fa fa-arrow-up direction @Direction.NorthEast.ToString()"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.West"><i class="fa fa-arrow-up direction @Direction.West.ToString()"></i></button>
        </div>
        <div class="col-2">
            @* <div class="d-flex justify-content-center"> *@
            @*     <i class="fa fa-4x fa-arrow-circle-down"></i> *@
            @* </div> *@
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.East"><i class="fa fa-arrow-up direction @Direction.East.ToString()"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.SouthWest"><i class="fa fa-arrow-up direction @Direction.SouthWest.ToString()"></i></button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.South"><i class="fa fa-arrow-up direction @Direction.South.ToString()"></i></button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-direction" direction="@Direction.SouthEast"><i class="fa fa-arrow-up direction @Direction.SouthEast.ToString()"></i></button>
        </div>
    </div>
</div>

<script src="~/js/components/navigation.js" />