@model NavigationComponentViewModel

@using DigitalBattleMap.Common

<div class="container text-center">
    <div class="card">
        <div class="card-header">
            Character Selection
            <div class="row">
                <select id="character" asp-for="Character" asp-items="Model.Characters"></select>
            </div>
        </div>
        <div class="card-body">
            <div class="grid-container">
                
                @* TOP *@
                <button class="btn btn-secondary btn-direction" direction="@Direction.NorthWest">
                    <i class="fa fa-arrow-up direction @Direction.NorthWest.ToString()"></i>
                </button>
                <button class="btn btn-secondary btn-direction" direction="@Direction.North">
                    <i class="fa fa-arrow-up direction @Direction.North.ToString()"></i>
                </button>
                <button class="btn btn-secondary btn-direction" direction="@Direction.NorthEast">
                    <i class="fa fa-arrow-up direction @Direction.NorthEast.ToString()"></i>
                </button>
                
                @* MIDDLE *@
                <button class="btn btn-secondary btn-direction" direction="@Direction.West">
                    <i class="fa fa-arrow-up direction @Direction.West.ToString()"></i>
                </button>
                <button class="btn btn-secondary btn-direction">
                    <i class="fa fa-times"></i>
                </button>
                <button class="btn btn-secondary btn-direction" direction="@Direction.East">
                    <i class="fa fa-arrow-up direction @Direction.East.ToString()"></i>
                </button>
                
                @* BOTTOM *@
                <button class="btn btn-secondary btn-direction" direction="@Direction.SouthWest">
                    <i class="fa fa-arrow-up direction @Direction.SouthWest.ToString()"></i>
                </button>
                <button class="btn btn-secondary btn-direction" direction="@Direction.South">
                    <i class="fa fa-arrow-up direction @Direction.South.ToString()"></i>
                </button>
                <button class="btn btn-secondary btn-direction" direction="@Direction.SouthEast">
                    <i class="fa fa-arrow-up direction @Direction.SouthEast.ToString()"></i>
                </button>
                
            </div>
            <div class="grid-container-conditions">
                <button class="btn btn-secondary btn-condition" condition="@Condition.Baned">Baned</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Blessed">Blessed</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Blinded">Blinded</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Charmed">Charmed</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Concentration">Concentration</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Deafened">Deafened</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Death">Death</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Exhausted">Exhausted</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Flying">Flying</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Frightened">Frightened</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Grappled">Grappled</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Hasted">Hasted</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Hex">Hex</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Highlighted">Highlighted</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Incapacitated">Incapacitated</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Invisible">Invisible</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Mark">Mark</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Paralyzed">Paralyzed</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Petrified">Petrified</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Poisoned">Poisoned</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Prone">Prone</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Restrained">Restrained</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Stabilized">Stabilized</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Stunned">Stunned</button>
                <button class="btn btn-secondary btn-condition" condition="@Condition.Unconcious">Unconcious</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/components/navigation.js"/>